.ImagemInicial{

    width: 445px;
    float: left;
    margin-top: 60px;

}

.ImagemInicial img{

width: 100%;
border-radius: 0 16% 16% 0;

}

.titulo{

    width: 350px;
    position: relative;
    left: 600px;
    bottom: 150px;
    color: mediumspringgreen;
    text-decoration: underline;

}

.titulos2{
    
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
     margin-bottom: 40px;
}

.titulos3{
     margin-bottom: 40px;
    text-align: center;
}

h1 {
    color: #007bff;
}

h2 {
    color: #333;
   
}

p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 665px;
    line-height: 2;
    position: relative;
    left: 25%;
    font-size: 20px;
}

.tipos-ligacoes {
    margin-top: 20px;
}

.tipos-ligacoes ul {
    list-style: none;
    padding-left: 20px;
}

.tipos-ligacoes li {
    margin-bottom: 10px;
}



footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
   
}

footer-elements{

position: relative;

}

ul {
    list-style: none;
    padding: 0;
   
}

li {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    list-style: none;
}

.titulo-desenvolvedores{

color: white;
font-weight: bold;
margin-bottom: 5px;

}
